#id-one {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 160%;
  color: #29293a;
}

.class-one {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #525174;
}

#id-two {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 50vh;
  border: 7px solid;
  border-color: #1e1e2b;
}

#id-three {
  font-size: 150%;
  font-display: bold;
  text-align: center;
}

#id-quote {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 190%;
  background-color: #3d3c57;
  color: #a9a9ba;
  border-radius: 4px;
  margin: auto;
  padding: 0.5%;
  width: 68%;
}

.class-two {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #1e1e2b;
}